# Backend REST API Url
REACT_APP_BACKEND_URL=http://localhost:3002

# Marketing Landing Site Url
REACT_APP_LANDING_URL=http://localhost:3000

# Trading Terminal Dashboard Url
REACT_APP_DASHBOARD_URL=http://localhost:3001
