# Server Port Selection
PORT=3002

# MongoDB Connection String
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/zerodha_clone?retryWrites=true&w=majority

# JWT Token Signature Secret
JWT_SECRET=super_secret_zerodha_key_123

# CORS Dynamic Domains (Production only)
NODE_ENV=production
FRONTEND_URL=https://zerodha-clone-marketing.vercel.app
DASHBOARD_URL=https://zerodha-clone-terminal.vercel.app
